/* Global */
*{
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    color: #ffff;
}
a:link { text-decoration: none; }

body{
    background-color: #f1f3f6 !important;

}
ul{
    text-decoration: none;
    list-style-type: none;
}
button, a{
    border: none;
    background-color: transparent;
    text-decoration: none;
}
.text-black{
    color: black;
    text-decoration: none;
}

/* Classes */

.background_primary{
    background-color: #2874f0 !important;
}
.button_primary{
    background-color:  #2874f0 !important;
    border-radius: 2px;
    color: white;
}

/* navbar */
.nav_bar  {
    height: 56px;
    padding-top: 8px;
}

.logo img{
    width: 75px;
    height: 20px;
}
.logo_des{
    width: 75px;
    height: 15px;
    font-size: 11px;
}
.logo_des img{
    width: 10px;
    height: 10px;
}
.nav_field{
    height: 35px;

}
.search_input input{
    height: 365x;
    font-size: 14px;
}
.drop_icon{
    font-size: 10px;
}
/* Popover used in nav as well header */
.more_popover{
    display: none;

    /* height: 200px; */
    width:200px;
    background-color: #ffff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50px;
    z-index: 1000  !important;
}
.more_popover_cat{
    top:113px;
    
}
.more_popover ul {
   padding-left: 0px;
}
.haspopover{
    position: relative;
}
.haspopover p{
    margin-bottom: 0;
}
.more_popover ul li{
    height: 40px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    padding-top: 8px;
    padding-bottom: 10px;
    /* margin: 2px; */
}
.more_popover ul li a{
    color: black;
    font-size: 14px;
}
.haspopover:hover .drop_icon i{
    transform: rotate(180deg);
    transition:  0.1s all ease-in-out;
}
.haspopover:hover .more_popover{
    display: block;
}


/* Header */
.categories_container{
    margin-top: 56px;
    width: auto !important;
    background-color: white;
}
.categories {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

}
category_item{
    position: relative;
}
.categories::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.categories_container, .categories{
    height: 112.09px;
}
.category_item{
    min-width: 136px;
    text-align: center;
}
.cat_img{
    height: 70%;
}
.cat_img img{
    margin-top: 8%;
    height: 90%;
}
.cat_title{
    font-weight: 500;
    font-size: 14px;
    color: black;
    
}


/* slider */

.slider{
    height: 283px;
    margin-top: 15px;
    /* z-index: 1 !important; */
}
 .slider_container > img{
    height: 283px;
    object-fit:cover;

}
.carousel_btnpre{
    width: 5% !important;
    justify-content: start !important;
}
.carousel_btnnxt{
    width: 5% !important;
    justify-content: end !important;
}

.carousel_navigator{
    height: 90px;
    width: 45px;
    
    background-color: white;
    justify-content: center;
}
.carousel_navigator span i{
    color: black;
    margin-top: 30px;
    font-size: 30px;
}



/* sub_cat_Section  best of section*/
.sub_cat_Section{
    height: 290px;
    margin-top: 25px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);

}
.sub_cat_Section .row{
    height: 285px;
}
.section_desc_container1{
    background-image: url(https://i.ibb.co/hW9J9C1/catbannappl.webp);
    background-size: contain;
    background-position:bottom center;
    background-repeat: no-repeat;
    
}
.desc{
    width: 100%;
}

.best_of_container,
 .subcat_option{
    height: 100%;
}
.best_of_container{
   padding: 0 !important;
}
.best_of_main_container{
    width: 87%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.best_of_main_container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

}

.best_of_main_container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



.subcat_option{
    width: 180px !important;
    margin-top: 20px;
    margin-left: 12px;
}
.subcat_option .sub_cat_img{
    width: 180px;
}
.subcat_option a .sub_cat_img img{
    height: 220px;
    
}
.arrow_navigator{
    height: 90px;
    width: 40px;
    background-color: #919294 ;
}

.arrow_navigator span i{
    color: black;
    margin-top: 30px;
    font-size: 30px;
    margin-left: 0;
}



/* Footer */
.footer_section_container{
    background-color: #182337;
    height: 260px;
    font-size: 12px;
    padding-top: 30px;
    line-height: 20px;
}
.footer_item{
    padding-right: 12px;
}
.footer_item_title{
    color: #919294;
}
.footer_item_content {
    margin-top: 6px;
}
.footer_item_content ul {
    padding-left: 0;
}






.a1{
    border: 1px solid red;
}








.test{
    height: 500px;
}










/* Responsive  */

/* media query  767px */
@media (max-width:768px){
    .nav_bar  {
        height: 104px;
    }
    .categories{
        margin-top: 104px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .cat_title{
        font-weight: 300;
        font-size: 13px;
        color: black;
    }
    .slider{
        height: 250px;
        padding-top: 0px;
    }
     .slider_container > img{
        height: 250px;
        
    }

    /* subcat-section */
    .sub_cat_Section{
        height: 200px;
        font-size: 12px;
        /* margin-top: 25px; */
        /* border: 1px solid black; */
    }
    .sub_cat_Section .row{
        height: 200px;
    }
    .subcat_option{
        width: 150px !important;
        margin-top: 20px;
        margin-left: 12px;
        font-weight: 300;
        font-size: 13px;
    }
    .subcat_option .sub_cat_img{
        width: 150px;
    }
    .subcat_option a .sub_cat_img img{
        height: 140px;
        
    }
    .carousel_btnpre,.carousel_btnnxt{
        visibility: hidden;
        
    }
    .best_of_main_container{
        width: 100%;
    }
    /* footer */
    .footer_section_container{
        height: 300px;
        font-size: 10px;
        line-height: 15px;
    }
} 

/* media query  576px */
@media (max-width:576px){
    .nav_bar  {
        height: 104px;
    }
    .categories_container{
        margin-top: 89px;
    }
    .categories{
        margin-top: 104px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .category_item{
        min-width: 89px;
        text-align: center;
    }
    .cat_img img{
        margin-top: 15%;
        height: 80%;
    }
    .cat_title{
        font-weight: 300;
        font-size: 12px;
    }
    .slider{
        height: 200px;
        padding-top: 0px;
    }
     .slider_container > img{
        height: 180px;
        
    }
     /* subcat-section */
     .sub_cat_Section{
        height: 220px;
        font-size: 12px;
    }
    
   
    .subcat_option{
        width: 125px !important;
        margin-top: 4px;
        margin-left: 5px;
        font-weight: 300;
        font-size: 14px;
    }
    .subcat_option .sub_cat_img{
        width: 150px;
    }
    .subcat_option a .sub_cat_img img{
        height: 140px;
        
    }
    .desc .section_desc .Best_of_Tile{
        font-size: 16px !important;
        text-align: left;
    }
    .carousel_btnpre,.carousel_btnnxt{
        visibility: hidden;
        
    }
    .best_of_main_container{
        width: 100%;
        margin-top: 8px;
    }
    .section_desc_container1, .section_desc{
        background-color: white;
        background-image: none;
        height: 35px;
        padding-bottom: 5px;
    }
    .button{
        visibility: hidden;
    }
     /* footer */
    .footer_section_container{
        height: 300px;
        font-size: 10px;
        line-height: 15px;
    }
}

@media (max-width:395px){
    /* Footer */
    .footer_section_container{
        height: 275px;
        font-size: 8px;
        line-height: 15px;
        padding-top: 12px;

    }

}

