/* Login */
.login_conatiner, .login_conatiner1{
    /* position: absolute; */
    /* position: relative;
    top: 60px;
    right: -25%; */
    /* top: 28%;
    right: 25%; */
    padding-top: 60px;
    width: 60%;
    height: 550px;
    margin: 20px;
    margin-left: 20%;
    /* background-color: #fff; */
    z-index: 9999;
    /* visibility: hidden; */
}
.body{
    visibility: hidden !important;
}
.login_row{
    height: 100%;
}
.login_form{

    color: #919294 !important;
}
.login_input input{
    border: none;
    outline: none !important;
    background-color: transparent;
    border: 0px solid;
}
.button_primary{
    background-color: #fb641b !important;
}
.cancel_it{
    font-size:40px !important;
    padding-top: 0;
    margin-top: 0;
    cursor: pointer;
}




/* Responsive  */

/* media query  767px */
@media (max-width:768px){
    .login_conatiner, .login_conatiner1{
       
        padding-top: 104px;
        width: 80%;
        margin: 10px;
        height: 600px;
        margin-left: 10%;
        
    }
} 

/* media query  576px */
@media (max-width:576px){
    .login_conatiner, .login_conatiner1{
        width: 100%;
        margin: 10px;
        height: 600px;
        
    }
    
}

@media (max-width:395px){
    
    .login_conatiner, .login_conatiner1{
        width: 100%;
        margin: 10px;
        height: 600px;
        
    }
    
}

