
/* Footer */
.footer_section_container{
    background-color: #182337;
    height: 260px;
    font-size: 12px;
    padding-top: 30px;
    line-height: 20px;
}
.footer_item{
    padding-right: 12px;
}
.footer_item_title{
    color: #919294;
}
.footer_item_content {
    margin-top: 6px;
}
.footer_item_content ul {
    padding-left: 0;
}




/* Responsive  */

/* media query  767px */
@media (max-width:768px){
    
    /* footer */
    .footer_section_container{
        height: 300px;
        font-size: 10px;
        line-height: 15px;
    }
} 

/* media query  576px */
@media (max-width:576px){
    
     /* footer */
    .footer_section_container{
        height: 300px;
        font-size: 10px;
        line-height: 15px;
    }
}

@media (max-width:395px){
    /* Footer */
    .footer_section_container{
        height: 275px;
        font-size: 8px;
        line-height: 15px;
        padding-top: 12px;

    }

}

