/* Global */
*{
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    color: #ffff;
}
a:link { text-decoration: none; }

body{
    background-color: #f1f3f6 !important;
    
}
ul{
    text-decoration: none;
    list-style-type: none;
}
button, a{
    border: none;
    background-color: transparent;
    text-decoration: none;
}
.text-black{
    color: black;
    text-decoration: none;
}

/* Classes */

.background_primary{
    background-color: #2874f0 !important;
}
.button_primary{
    background-color:  #2874f0 !important;
    border-radius: 2px;
    color: white;
}



.nav_bar  {
    height: 56px;
    padding-top: 8px;
    
}

.logo img{
    width: 75px;
    height: 20px;
}
.logo_des{
    width: 75px;
    height: 15px;
    font-size: 11px;
}
.logo_des img{
    width: 10px;
    height: 10px;
}
.nav_field{
    height: 35px;

}
.search_input input{
    height: 365x;
    font-size: 14px;
}
.drop_icon{
    font-size: 10px;
}
/* Popover used in nav as well header */
.more_popover{
    display: none;

    /* height: 200px; */
    width:200px;
    background-color: #ffff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 33px;
    z-index: 1000  !important;
}
.more_popover_cat{
    top:113px;
    
}
.more_popover ul {
   padding-left: 0px;
}
.haspopover{
    position: relative;
}
.haspopover p{
    margin-bottom: 0;
}
.more_popover ul li{
    height: 40px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    padding-top: 8px;
    padding-bottom: 10px;
    /* margin: 2px; */
}
.more_popover ul li a{
    color: black;
    font-size: 14px;
}
.haspopover:hover .drop_icon i{
    transform: rotate(180deg);
    transition:  0.1s all ease-in-out;
}
.haspopover:hover .more_popover{
    display: block;
}

/* Responsive  */

/* media query  767px */
@media (max-width:768px){
    .nav_bar  {
        height: 104px;
    }
} 

/* media query  576px */
@media (max-width:576px){
    .nav_bar  {
        height: 104px;
    }
}

