
/* main section */
.Product_listing_section{
    margin-top: 56px;
    color: black !important;
    
}




/* Products  */
.products_main_container{
    /* margin-left: 5px; */
    margin-top: 15px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
.product_item_container{
    height: 250px !important;
    /* overflow-y: scroll; */
}
.product_item_container .row{
    /* height: 260px; */
    overflow: hidden !important;

    
}
.product_item_container {
    height: 250px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
.prod_img img{
    /* padding-top: 8px; */
    width: 80% !important;
    /* height: 80%; */
    /* max-height: 80% !important; */
}
.prod_details_container{
    padding-top: 16px;

}
.prod_heading{
    font-size: 18px;
    font-weight: bold;
}
.prod_subheading{
    font-size: 14px;
    font-weight: bold;
    color: #919294;

}
.prod_subheading .rating{
    height: 20px;
    font-size: 13px;
}
.prod_specs{
    margin-top: 15px;
    font-size: 14px;
    color: black;
}
.prod_specs ul{
    list-style-type: disc ;
    color: #919294 ;
    padding-left: 15px;
}
.prod_specs ul li p{
    color: #070708;
    margin-bottom: 2px !important;
}
.prod_price_container{
    padding-top: 20px;
}
.price{
    font-size: 20px;
    font-weight: bold;
}
.price_subhead{
    font-size: 16px;
}




/* Responsive  */

/* media query  767px */
@media (max-width:768px){
    
    /* main */
    .Product_listing_section{
        margin-top: 104px;
        color: black !important;
        
    }
    
    /* procucts */
    .product_item_container{
        height: 200px;
    }
    .product_item_container .row{
        height: 180px;
        
    }
    .prod_heading{
        font-size: 16px;
        font-weight: bold;
    }
    .prod_subheading{
        font-size: 12px;
        font-weight: bold;
    }
    .prod_specs{
        margin-top: 8px;
        font-size: 12px;
    }
    .price{
        font-size: 18px;
    }
    .price_subhead{
        font-size: 14px;
    }
    
} 

/* media query  576px */
@media (max-width:576px){
    
    /* main */
    .Product_listing_section{
        margin-top: 104px;
        color: black !important;
        
    }
    
    /* procucts */
    .product_item_container{
        height: 200px;
    }
    .product_item_container .row{
        height: 190px;
        
    }
    .prod_specs{
        visibility: hidden;
        height: 1px;
    }
    .prod_heading{
        height: 50px;
        overflow: hidden;
    }
    .prod_price_container{
        padding-top: 0;
    }
}

@media (max-width:395px){
  
    

    /* procucts */
    .product_item_container{
        height: 175px !important;
    }
    .product_item_container .row{
        height: 175px !important;
        overflow: hidden;
        
    }
    .prod_specs{
        visibility: hidden;
        height: 1px;
    }
    .prod_heading{
        height: 50px;
        overflow: hidden;
    }
    .prod_price_container{
        padding-top: 0;
    }
    
} 