

/* Header */
.categories_container{
    margin-top: 56px;
    width: auto !important;
    background-color: white;
}
.categories {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

}
category_item{
    position: relative;
}
.categories::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.categories_container, .categories{
    height: 112.09px;
    /* height: 300.09px; */
}
/* .categories_container{ */
    /* height: 112.09px; */
    /* height: 100.09px;
} */
.category_item{
    min-width: 136px;
    text-align: center;
}
.cat_img{
    /* height: 70%; */
    height: 75px;
}
.cat_img img{
    margin-top: 8%;
    height: 90%;
}
.cat_title{
    font-weight: 500;
    font-size: 14px;
    color: black;
    
}

.haspopover:active .more_popover{
    
    display: block;

}
.haspopover:active .categories_container, .categories{
    height: 300.09px;
}


/* Responsive  */

/* media query  767px */
@media (max-width:768px){
    
    .categories{
        margin-top: 104px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .cat_title{
        font-weight: 300;
        font-size: 13px;
        color: black;
    }
} 

/* media query  576px */
@media (max-width:576px){
    
    .categories_container{
        margin-top: 89px;
    }
    .categories{
        margin-top: 104px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .category_item{
        min-width: 89px;
        text-align: center;
    }
    .cat_img img{
        margin-top: 15%;
        height: 80%;
    }
    .cat_title{
        font-weight: 300;
        font-size: 12px;
    }
}